<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="images/js.png"
		type="image/x-icon" />
	<title>Йоу</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="root">
		<h1 class="root-heading">
			<span>t</span>
			<span>e</span>
			<span>t</span>
			<span>r</span>
			<span>i</span>
			<span>s</span>
		</h1>
	</div>

	<div class="gameField">
	</div>


	<script src="index.js" type="module"></script>
</body>

</html>